<p>This is list of all Admin users!</p>

{{#each users}}
    <p>username: {{this.username}}</p>
    <p>first name: {{this.firstName}}</p>
    <p>last name: {{this.lastName}}</p>
    <p>role: {{this.roles}}</p>
{{/each}}