<table>
    <tr>
        <th>
            Tweet
        </th>
        <th>
            Date
        </th>
        <th>
        </th>
        <th>
        </th>
    </tr>
    {{#each tweets}}
        <tr>
            <td>
                {{this.message}}
            </td>
            <td>
                {{this.createdOn}}
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    {{/each}}
</table>