extends ../layout.pug

block content
    h2 Add Rocket
    form(method="POST")
        label Rocket name:
        br
        input(type="text", name="name")
        br
        input(type="submit" value="Send")

