extends ../layout.pug

block content
    h2 Add Plane
    form(method="POST", enctype="multipart/form-data")
        label Plane name:
        br
        input(type="text", name="name")
        br
        br
        label Plane description:
        br
        textarea(name="description")
        br
        label Plane Price:
        br
        input(type="number", name="price")
        br
        label Image:
        br
        input(type="file", accept="image/*", name="image")
        br
        input(type="submit" value="Send")
